@import "../../common/colors.scss";


.movie-wrapper {
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  // grid-template-columns: 1fr 1fr;
  // column-gap: 30px;


  .movie-list,
  .show-list {
    margin: 20px 0px;

    h2 {
      color: $font-secondary;
      margin-bottom: 10px;
      font-weight: 400;
    }
  }

  .movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 15px;
  }

}

// .movie-list,
// .show-list {
//   margin: 20px 0px;

//   h2 {
//     color: $font-secondary;
//     margin-bottom: 10px;
//     font-weight: 400;
//   }
// }

// .movie-container {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
//   grid-gap: 15px;
// }
